{include file="public_nei" title="编辑分红" /}
			<div class="edit_content">
				<form class="layui-form" id="formrec" method="post">
				<input type="hidden" name="id" value="{$edit_data['id']}">   
				<div class="layui-form-item">
				  <label class="layui-form-label">平台名称</label>
				  <div class="layui-input-inline">
					<select name="plat_id" lay-verify="required" lay-search="">
					  <option value="">直接选择或搜索选择</option>
					  {volist name="plat_list_select" id="vo"}
						<option value="{$vo.id}" {if condition="$vo.id eq $edit_data['plat_id']"} selected {/if}>{$vo.plat_name}</option>
					  {/volist}
					</select>
				  </div>
				</div>
				<div class="layui-form-item">
				  <label class="layui-form-label">所属销售</label>
				  <div class="layui-input-inline">
					<select name="belong" lay-verify="required" lay-search="">
					  <option value="">直接选择或搜索选择</option>
					  {volist name="sale" id="vo"}
					  <option value="{$vo.id}" {if condition="$vo.id eq $edit_data['belong']"} selected {/if}>{$vo.realname}</option>
					  {/volist}
					</select>
				  </div>
				</div>	
				<div class="layui-form-item">
				  <label class="layui-form-label">提成比例</label>
				  <div class="layui-input-inline">
					<input type="text" name="bonus" lay-verify="required" autocomplete="off" placeholder="请输入提成比例" class="layui-input" value="{$edit_data['bonus']}">
				  </div>
				</div>
				<div class="layui-form-item">
				  <label class="layui-form-label">总分润金额</label>
				  <div class="layui-input-inline">
					<input type="text" class="layui-input" name="total_money" placeholder="请输入总分润金额" value="{$edit_data['total_money']}">
				  </div>
				</div>
				<div class="layui-form-item">
				  <label class="layui-form-label">已下发代理分润金额</label>
				  <div class="layui-input-inline">
					<input type="text" class="layui-input" name="down_money" placeholder="请输入已下发代理分润金额" value="{$edit_data['down_money']}">
				  </div>
				</div>    
				<div class="layui-form-item">
				  <label class="layui-form-label">提成金额</label>
				  <div class="layui-input-inline">
					<input type="text" name="bonus_money" lay-verify="required" autocomplete="off" placeholder="请输入提成金额" class="layui-input" value="{$edit_data['bonus_money']}">
				  </div>
				</div> 
				<div class="layui-form-item">
				  <label class="layui-form-label">月份</label>
				  <div class="layui-input-inline">
					<input type="text" class="layui-input" id="test9" name="months" placeholder="yyyy-MM" value="{$edit_data['months']}">      
				  </div>
				</div> 	
				<div class="layui-form-item">
				  <label class="layui-form-label">备注</label>
				  <div class="layui-input-inline">
					<textarea placeholder="请输入备注" name="remark" lay-verify="remark" class="layui-textarea">{$edit_data['remark']}</textarea>
				  </div>
				</div> 
  
		        <div class="layui-form-item">
                    <div class="layui-input-inline">
		              <button class="layui-btn ml80" lay-submit="" lay-filter="edit" data-href="?action=edit">提交</button>
                    </div>
		        </div>
				</form>
			</div>
<script>
layui.use('laydate', function(){
  var laydate = layui.laydate;
  laydate.render({
    elem: '#test9'
    ,type: 'month'
  });   
}); 

    layui.use(['form','common'], function(){
        var $ = layui.jquery,common=layui.common,form = layui.form;

        //监听提交
        form.on('submit(edit)', function(data){
            var sub=true;
            var url=$(this).data('href');
            if(url){
                if(sub){
                    $.ajax({
                        url: url,
                        type: 'post',
                        dataType: 'json',
                        data: data.field,
                        success: function (info) {
                            if (info.code == 1) {
								layer.alert(info.msg,function(index){
									window.parent.location.reload();
									var index = parent.layer.getFrameIndex(window.name);
									parent.layer.close(index);
								});	
                            }
                            else {
                                common.layerAlertE(info.msg, '提示');
                                $(data.elem).removeAttr("disabled").text("提交");
                            }
                        },
                        beforeSend: function () {
                            $(data.elem).attr("disabled", "true").text("提交中...");
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            common.layerAlertE(textStatus, '提示');
                        }
                    });
                }
            }else{
                common.layerAlertE('链接错误！', '提示');
            }
            return false;
        });
    });
</script>
</body>
</html>