<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit"> 	
	<title>[title]-POSCRM</title>
	<link rel="shortcut icon" href="__STATIC__/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/font.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/ui.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/public.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/layui/css/layui.css">
	<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__STATIC__/js/ui.js"></script>
	<script type="text/javascript" src="__STATIC__/js/public.js"></script>
	<script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
	<script type="text/javascript" src="__STATIC__/layui/layui.js"></script>
	<script type="text/javascript" src="__STATIC__/js/global.js"></script>
	<style>
	.edit_content{padding:20px}
	</style>
</head>
<body>